@media (max-width: 767px){
    #footer{
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
    }
    .app{
        padding-left: 50px;
    }
    .img_app{
        margin-left: 55px;
    }
    .img_app-footer{
        margin-left: 12px !important;
    }
    .img_logo{
        padding-left: 3px;
        width: 38px;
        height: 38px;
    }
}

@media screen 
and (min-width : 768px) 
and (max-width : 1024px) {
    #footer{
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
    }
    .app{
        padding-left: 50px;
    }
    .img_app{
        margin-left: 55px;
    }
    .img_app-footer{
        margin-left: 22px !important;
    }
    .img_logo{
        padding-left: 3px;
        width: 45px;
        height: 45px;
    }
}

@media screen 
and (min-width : 1024px) 
and (max-width : 1366px) {
    #footer{
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
    }
    .app{
        padding-left: 50px;
    }
    .img_app{
        margin-left: 55px;
    }
    .img_app-footer{
        margin-left: 54px !important;
    }
    .img_logo{
        padding-left: 3px;
        width: 45px;
        height: 45px;
    }
}